</div>
</div>

[%site_value id:'footer_javascript'%]
<script>
$(document).ready(function(){
	$('#homepageCarousel').slick({
		infinite: true,
		slidesToShow: 1,
		arrows: true,
		autoplay: true,
		autoplaySpeed: 5000,
		fade: true,
		cssEase: 'linear',
		slidesToScroll: 1
	});
})
</script>
[%/site_value%]

<div class="content-page-wrapper" style="background-image: url([%asset_url type:'content' id:'[@content_id@]' thumb:'alt_1' /%]);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
						[%breadcrumb%]
						[%PARAM *header%]
							<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" aria-label="Breadcrumb">
								<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<a href="[@config:home_url@]" itemprop="item" class="text-decoration-none"><span itemprop="name">Home</span></a>
								</li>
						[%/PARAM%]
						[%PARAM *body%]
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a href="[@url@]" itemprop="item" class="text-decoration-none"><span itemprop="name">[@name@]</span></a>
							</li>
						[%/PARAM%]
						[%PARAM *footer%]
							</ul>
						[%/PARAM%]
					[%/breadcrumb%]
			</div>

			<div class="col-xs-12">
				<div class="content-page-header-wrapper">
						<h1 class="content-type-page-title">[@content_name@]</h1>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div>
							[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
								[%param *header%]
									<section id="homepageCarousel" class="carousel slide" aria-label="Banner images">
										[%if [@total_showing@] > 1%]
											<ol class="carousel-indicators">
												[%site_value id:'counter' type:'load'/%]
											</ol>
										[%/if%]
										<div class="carousel-inner">
								[%/param%]
								[%param *footer%]
										</div>
										[%if [@total_showing@] > 1%]
											<a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
												<span class="fa fa-chevron-left"></span>
											</a>
											<a class="right carousel-control" href="#homepageCarousel" data-slide="next">
												<span class="fa fa-chevron-right"></span>
											</a>
										[%/if%]
									</section>
									<hr aria-hidden="true"/>
								[%/param%]
								[%param *ifempty%]
								[%/param%]
							[%/advert%]
							[%advert type:'product' limit:'8' template:'' ad_group:''%]
								[%param *header%]
									<section class="row" aria-label="Featured products">
								[%/param%]
								[%param footer%]
									</section>
									<hr aria-hidden="true"/>
								[%/param%]
							[%/advert%]

						[%if ![@form:pgnum@] OR [@form:pgnum@] eq '1'%]
							[%if [@content_short_description1@] ne ''%]
							<div class="content-type-content-wrapper">[@content_short_description1@]</div>
							[%/if%]
							[%if [@content_short_description2@] ne ''%]
							<div class="content-type-content-wrapper">[@content_short_description2@]</div>
							[%/if%]
							[%if [@content_short_description3@] ne ''%]
							<div class="content-type-content-wrapper">[@content_short_description3@]</div>
							[%/if%]
							[%if [@content_description1@] ne ''%]
							<div class="content-type-content-wrapper">[%parse%][@content_description1@][%/parse%]</div>
							[%/if%]
							[%if [@content_description2@] ne ''%]
							<div class="content-type-content-wrapper">[%parse%][@content_description2@][%/parse%]</div>
							[%/if%]
							[%if [@content_description3@] ne ''%]
							<div class="content-type-content-wrapper">[%parse%][@content_description3@][%/parse%]</div>
							[%/if%]
							[%if [@content_wufoo_form@] ne ''%]
							<div class="content-type-content-wrapper">[%parse%][@content_wufoo_form@][%/parse%]</div>
							[%/if%]
						[%/if%]
						</div>

						[%IF [@content_allow_reviews@]%]
							[%thumb_list type:'content_reviews' limit:'5'%]
								[%param filter_1%][@CONTENT_ID@][%/param%]
								[%param *header%]
								<div class="content-type-content-wrapper">
									<h3 class="brave-subheading uppercase">Comments ([@reviews@])</h3>
								[%/param%]
								[%param *body%]

								<div itemprop="review" itemscope itemtype="http://schema.org/Review" class="single-review relative">
									<div class="big-quote">
										<i class="fa fa-quote-left hidden-xs"></i>
									</div>
									<h3 itemprop="name" class="product-review-title">[@title@]</h3>
									<div class="product-review">
										<span itemprop="description">[@review@]</span>
										<br/>
									</div>
								</div>
								[%/param%]
								[%param *footer%]
								</div>		
								[%/param%]
							[%/thumb_list%]
							<div class="content-type-leave-comment content-type-content-wrapper">
									<div class="pad-15">
								<h3>Leave a comment</h3>
								<form name="edit_review" method="post" role="form" action="[%URL page:'account' type:'write_contentreview'%][%/URL%]">
									<fieldset>
										<input type="hidden" name="fn" value="confirm">
										<input type="hidden" name="item" value="[@content_id@]">
										<input type="hidden" name="checked_terms_and_conditions" value="1">
										<input type="hidden" name="rating_value" id="rating_value" value="5"/>
										<div class="form-group">
											<label for="review_title">Title For Comment</label>
											<input class="form-control" type="text" name="review_title" id="review_title" value="[%nohtml%][@form:review_title@][%/nohtml%]" required/>
										</div>
										<div class="form-group">
											<label for="review_text">Your Comment</label>
											<textarea name="review_text" id="review_text" rows="10" class="form-control" required>[%nohtml%][@form:review_text@][%/nohtml%]</textarea>
										</div>
										[%ajax_loader%]
											[%if ![@user:username@] or [@user:username@] eq 'noreg'%]
												<div class="form-group">
													<label for="customername">Your Name</label>
													<input class="form-control" type="text" name="customername" id="customername" value="[%nohtml%][@form:customername@][%/nohtml%]" required/>
												</div>
												<div class="form-group">
													<label for="emailaddress">Your Email Address</label>
													<input class="form-control" size="70" type="email" name="emailaddress" id="emailaddress" value="[%nohtml%][@form:emailaddress@][%/nohtml%]" required/>
												</div>
											[%/if%]
										[%/ajax_loader%]
										<p>
											<button type="submit" class="btn btn-success" />Post Comment</button>
										</p>
										<p class="text-muted">Comments have to be approved before showing up</p>
									</fieldset>
								</form>
							</div>
								</div>
							[%/if%]
					</div>
				</div>
			</div>
		</div>
		[%thumb_list type:'content' content_type:'' template:'' limit:'10'%]
			[%param *header%]
			[%/param%]
			[%param *footer%]
			<div class="pagination-container">
					<div class="text-center">
						[%paging limit:'3'%]
					
						[%PARAM *goback_pages%]
						<div class="pagination-child number">
							<a href="[@url@]"><button class="pagination-center go-back btn">[@PAGE@]</button></a>
						</div>
						[%/PARAM%]
					
						[%PARAM *current_page%]
						<div class="active pagination-child number">
							<a href="[@url@]"><button class="pagination-center btn">[@PAGE@]</button></a>
						</div>
					
						[%/PARAM%]
						[%PARAM *gonext_pages%]
						<div class="pagination-child number">
							<a href="[@url@]"><button class="pagination-center go-forward btn">[@PAGE@]</button></a>
						</div>
						[%/PARAM%]
					
						
					[%/paging%]
					</div>
			</div>
			[%/param%]
		[%/thumb_list%]

		[%thumb_list type:'products' template:'' limit:'[@config:related_limit@]'%]
			[%param header%]
				<hr aria-hidden="true"/>
				<section class="row" aria-label="Products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
		[%/thumb_list%]
	</div>
</div>
<div class="container">
	<div class="row">