[%site_value id:'footer_javascript'%]
	<script>

$(document).ready(function(){
	$('#homepageCarousel').slick({
		infinite: true,
		slidesToShow: 1,
		arrows: true,
		autoplay: true,
		autoplaySpeed: 5000,
		fade: true,
		cssEase: 'linear',
		slidesToScroll: 1
	});

	$('.brand-img-wrapper').slick({
		slidesToShow: 2,
		slidesToScroll: 2,
		autoplay: true,
		autoplaySpeed: 2000,
		infinite: true,
		arrows: false
	});

})

	
	</script>

[%/site_value%]

<div id="homepageCarousel">
	[%advert type:'text' limit:'10' ad_group:''%]
	[%param *body%]
	<div class="">
		<a href="[@linkurl@]">
			<img src="[%asset_url type:'adw' id:'[@ad_id@]' default:'https://source.unsplash.com/random/1920x600'/%]" alt="[@headline@]" />
		</a>
		
		[%if [@headline@] or [@description@] %]
		<div class="home-text-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						[%if [@headline@]%]<h1>[@headline@]</h1>[%/if%]
						[%if [@description@]%]<p>[@description@]</p>[%/if%]
						[%if [@linktext@]%]<p><span class="btn btn-primary btn-lg">[@linktext@]</span></p>[%/if%]
					</div>
				</div>	
			</div>	
		</div>
		[%/if%]
	
	</div>
[%/param%]
[%/advert%]
</div>

<div class="container">
<div class="thumbs-outer-wrapper">
	<div class="row">
		<div class="col-xs-12">
			[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'6' template:'' ad_group:''%]
			[%param *header%]
				<section class="row products-row" aria-label="Featured products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
			[%param *ifempty%]
				[%random_products filter_category:'' template:'' limit:'6'%]
					[%param *header%]
						<section class="row products-row" aria-label="Featured products">
					[%/param%]
					[%param *footer%]
						</section>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
		</div>
	</div>
</div>
</div>

<div>
			[%advert type:'text' limit:'10' ad_group:'home-advert'%]
			[%param *header%]

			[%/param%]
			[%param *body%]
					<div class="parallax-advert" style="background-image: url([%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]); height: 500px">
						<div class="home-ad-overlay">
							<div class="container">
								<h3 class="white">Advert heading</h3>
								<h5 class="white">Advert Subtitle</h5>
								<p class="white">Advert description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere harum magnam voluptatum, amet, itaque eligendi eveniet consectetur debitis ea, fuga ipsam beatae nam. Voluptates ea labore vel, illum facere reiciendis.</p>
								<span class="btn btn-primary btn-lg">Check it out!</span>
							</div>	
						</div>
					</div>
			[%/param%]
			[%param *footer%]

			[%/param%]
		[%/advert%]
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 brands-wrapper">
			<div class="row">
				<div class="col-md-4 brands-heading-wrapper">
				<h3 class="brands-heading">Our Brands</h3>
				<span>View all</span>
				</div>
				<div class="col-md-8 brand-img-wrapper">
					[%thumb_list type:'content' content_type:'brand' limit:'12' sortby:'sortorder'%]
						[%param *header%]
						[%/param%]
						[%param *body%]
						<div class="col-md-6 text-center">
							<a href="[@URL@]"><img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]" alt="[@content_name@]" class="brand-img"/></a>
						</div>
						[%/param%]
						[%param *footer%]
						[%/param%]
					[%/thumb_list%]
				</div>
				

			</div>
		</div>
	</div>
</div>


[%if [@CONFIG:instagram_userID@] && [@CONFIG:Instagram_Access_Token@]%]
	<!-- Instagram Feed -->

	[%site_value id:'footer_javascript'%]
			<script type="text/javascript">
		    $(document).ready(function(){
		        var feed = new Instafeed({
		            get: 'user',
		            userId: '[@CONFIG:instagram_userID@]',
		            accessToken: '[@CONFIG:Instagram_Access_Token@]',
		            template: '<a href="{{link}}" target="_blank"><div class="instafeed-image" style="background-image: url({{image}})"><span class="likes"><span><i class="fa fa-instagram"></i> {{model.created_at}}</span></span></div></a>',
		            resolution: 'standard_resolution',
		            limit: '6',
		            sortBy: 'most-recent'
		        });
		        feed.run();
		    });
			</script>
		[%/site_value%]
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div id="instafeed" class="homepage relative clearfix"></div>
					<div class="insta-panel">
						<div class="insta-inner">
							<i class="fa fa-instagram"></i>
							<h3>Connect on Instagram</h3>
							<div class="insta-tag">[@CONFIG:instagram_tag@]</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
				

	[%/if%]





