[%site_value id:'footer_javascript'%]
	<script>

$(document).ready(function(){
	$('#homepageCarousel').slick({
		infinite: true,
		slidesToShow: 1,
		arrows: true,
		autoplay: true,
		autoplaySpeed: 5000,
		fade: true,
		cssEase: 'linear',
		slidesToScroll: 1
	});

	$('.brand-img-wrapper').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000,
		infinite: true,
		arrows: false
	});

})

	
	</script>

[%/site_value%]

</div>
</div>

<div id="homepageCarousel">
	[%advert type:'text' limit:'10' ad_group:''%]
		[%param *body%]
		<div>
			<a href="[@linkurl@]">
				<img src="[%asset_url type:'adw' id:'[@ad_id@]' default:'https://source.unsplash.com/random/1920x700'/%]" alt="[@headline@]" class="home-carousel-img" />
			</a>
			[%if [@headline@] or [@description@] %]
			<div class="home-text-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
						<div class="home-carousel-text-wrapper">
							[%if [@headline@]%]<h1 class="uppercase">[@headline@]</h1>[%/if%]
							[%if [@description@]%]<p>[@description@]</p>[%/if%]
							[%if [@linktext@]%]<a href="[@url@]"><button class="btn btn-white-ghost btn-lg">[@linktext@]</button></a>[%/if%]
						</div>

						</div>
					</div>	
				</div>	
			</div>
			[%/if%]
		</div>
		[%/param%]
		[%param *ifempty%]
			<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
				Click to add a banner<br/>
			</a>
		[%/param%]
	[%/advert%]
</div>
<div class="main-content container clearfix" role="main">
	<div class="row">

		<div class="col-xs-12">
			<div class="home-advert-grid">
				<div class="row">
				[%advert type:'text' limit:'4' ad_group:'home_ad_units' template:'home-advert-grid' sortby:'sortorder-desc' category:'0'%][%/advert%]
				</div>
			</div>
		</div>


		
					[%thumb_list type:'content' content_type:'brand' limit:'12' sortby:'sortorder'%]
						[%param *header%]
						<div class="col-xs-12 brands-wrapper">
							<div class="row">
								<div class="col-md-4">
								<div class="brands-heading-wrapper">
									<h3 class="brands-heading">Our Brands</h3>
									<span><a href="/brands">View all</a></span>
								</div>
								</div>
								<div class="col-md-8 brand-img-wrapper">
						[%/param%]
						[%param *body%]
						<div class="col-md-6 text-center">
							<a href="[@URL@]"><img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]" alt="[@content_name@]" class="brand-img"/></a>
						</div>
						[%/param%]
						[%param *footer%]
									</div>
							</div>
						</div>
						[%/param%]
					[%/thumb_list%]



		<div class="col-xs-12">
				<div class="thumbs-outer-wrapper">
			[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'6' template:'' ad_group:''%]
			[%param *header%]
				<section class="row products-row" aria-label="Featured products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
			[%param *ifempty%]
				[%random_products filter_category:'' template:'' limit:'6'%]
					[%param *header%]
						<section class="row products-row" aria-label="Featured products">
					[%/param%]
					[%param *footer%]
						</section>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
		</div>
	</div>
		

[%if [@CONFIG:instagram_userID@] && [@CONFIG:Instagram_Access_Token@]%]
	<!-- Instagram Feed -->
	[%site_value id:'footer_javascript'%]
			<script type="text/javascript">
		    $(document).ready(function(){
		        var feed = new Instafeed({
		            get: 'user',
		            userId: '[@CONFIG:instagram_userID@]',
		            accessToken: '[@CONFIG:Instagram_Access_Token@]',
		            template: '<a href="{{link}}" target="_blank"><div class="instafeed-image" style="background-image: url({{image}})"><span class="likes"><span><i class="fa fa-heart-o"></i> {{model.created_at}}</span></span><span class="insta-overlay"></span></div></a>',
		            resolution: 'standard_resolution',
		            limit: '12',
		            sortBy: 'most-recent',
					after: function(){
						$('#instafeed').slick({
							slidesToShow: 3,
							slidesToScroll: 1,
							autoplay: true,
							autoplaySpeed: 4000,
							infinite: true,
							arrows: false
						});
					}
		        });
		        feed.run();
		    });
			</script>
		[%/site_value%]
		<div class="col-xs-12 social-wrapper">
			<div class="row">
				<div class="col-md-4">
				<div class="brands-heading-wrapper">
					<h3 class="brands-heading">Lets get<br/> social</h3>
					<span class="insta-tag">[@CONFIG:instagram_tag@]</span>
				</div>
				</div>
				<div class="col-md-8">
					<div id="instafeed" class="relative clearfix"></div>
				</div>
			</div>
		</div>
	[%/if%]