</div>
</div>


[%site_value id:'footer_javascript'%]
<script>

function setCategoryThumbsSize(qty) {

console.log("there is " + qty + " thumbs");
var height = $(window).height();
var halfHeight = height /2;
var thirdHeight = height /3;

switch(qty){
	case 1:
			$('.gallery-thumbnail').css("width", "100%").css("height", height);
		break;
	case 2:
			$('.gallery-thumbnail').slice(0,2).css("width", "50%").css("height", height);
		break;
	case 3:
			$('.gallery-thumbnail').slice(0,2).css("width", "50%").css("height", halfHeight);
			$('.gallery-thumbnail').slice(2,3).css("width", "100%").css("height", halfHeight);
		break;
	case 4:
			$('.gallery-thumbnail').slice(0,4).css("width", "50%").css("height", halfHeight);
		break;
	case 5:
			$('.gallery-thumbnail').slice(0,3).css("width", "33.33%").css("height", halfHeight);
			$('.gallery-thumbnail').slice(3,5).css("width", "50%").css("height", halfHeight);
		break;
	case 6:
			$('.gallery-thumbnail').css("width", "33.33%").css("height", halfHeight);
		break;
	case 7:
			$('.gallery-thumbnail').slice(0,3).css("width", "33.33%").css("height", halfHeight);
			$('.gallery-thumbnail').slice(3,7).css("width", "25%").css("height", halfHeight);
		break;
	case 8:
			$('.gallery-thumbnail').css("width", "25%").css("height", halfHeight);
		break;
	case 9:
			$('.gallery-thumbnail').css("width", "33.33%").css("height", thirdHeight);
		break;
	case 10:
			$('.gallery-thumbnail').slice(0,6).css("width", "33.33%").css("height", thirdHeight);
			$('.gallery-thumbnail').slice(6,10).css("width", "25%").css("height", thirdHeight);
		break;
	case 11:
			$('.gallery-thumbnail').slice(0,3).css("width", "33.33%").css("height", thirdHeight);
			$('.gallery-thumbnail').slice(3,11).css("width", "25%").css("height", thirdHeight);
		break;
	default:
			$('.gallery-thumbnail').css("width", "25%").css("height", thirdHeight);
}
}

$(document).ready(function() {
setCategoryThumbsSize($('.gallery-thumbnail').length);

$( '[data-fancybox^="imagegallery"]' ).fancybox({
  caption : function( instance, item ) {
    var caption = $(this).data('caption') || '';
	var linkedProduct = $(this).data('product') || '';

    if ( item.type === 'image' && linkedProduct !== '') {
      caption = (caption.length ? caption + '<br />' : '') + '<a class="underline" href="' + linkedProduct + '">View Product</a>' ;
    }

    return caption;
  },
  loop: true,
  arrows: true,
  idleTime: 20,
  buttons: [
        //"zoom",
        //"share",
        //"slideShow",
        //"fullScreen",
        //"download",
        "thumbs",
        "close"
    ],
});
});

$(window).resize(function(){
	setCategoryThumbsSize($('.gallery-thumbnail').length);
})
</script>
[%/site_value%]

<div class="main-content container-fluid">
[%content_menu content_type:'imagegallery' sortby:'sortorder' limit:'50' show_empty:'1'%]
	[%PARAM header%]
		<section class="row" aria-label="Categories" id="gallery-page">
	[%/PARAM%]
	[%PARAM *level_1%]
		<div class="gallery-thumbnail no-padding cat-[@allcount@] relative" role="article" aria-label="[@name@] category">
			<div class="wrapper-gallery-image" style="background-image: url([%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%])">	
				<div class="gallery-name text-center">
					<span class="text-decoration-none gallery-title">[@name@] <i class="fa fa-hand-o-right category-hand hidden"></i></span>
					<ul class="image-gallery">
					[%if [@next_level@]%][@next_level@][%/if%]
					</ul>
				</div>
			</div>
		</div>	
	[%/PARAM%]
	[%PARAM *level_2%]
		<li>
			<a href="[%asset_url type:'content' id:'[@content_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="view-gallery" data-fancybox="imagegallery-[@parent_content_id@]" data-caption="[%show_content id:'[@content_id@]' %][%param *body%][%nohtml%][@content_short_description1@][%/nohtml%][%/param%][%/show_content%]" data-product="[%show_content id:'[@content_id@]' %][%param *body%][%nohtml%][@content_short_description2@][%/nohtml%][%/param%][%/show_content%]" title="Large View">View Gallery</a>
		</li>			
	[%/PARAM%]
	[%PARAM footer%]
		</section>
	[%/ PARAM%]
[%/content_menu%]
</div>
  