                   <div class="col-xs-12 col-md-6 col-lg-6 col-xl-12 upsell [%if [@store_quantity@] < 1 AND ![@config:ALLOW_NOSTOCK_CHECKOUT@] || [@store_quantity@] < 1 AND ![@preorder@] %]hidden[%/if%]">
                    <div class="upsell-img-wrapper">
                        <meta itemprop="brand" content="[@brand@]"/>
                        <meta itemprop="mpn" content="[@sku@]"/>
                        <img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]"  itemprop="image" class="upsell-image img-responsive" alt="[@model@]" rel="itmimg[@SKU@]">
                        <span class="upsell-quickview" data-toggle="modal" data-target=".quick[@sku@]"><span class="quickview-icon"><i class="fa fa-search-plus"></i> </span></span>
                        <div class='modal fade quick[@sku@] upsell-modal' role='dialog'>
                                <div class='modal-dialog'>
                                    <div class='modal-content'>
                                        [%product sku:'[@sku@]'%]
                                            [%param *body%]
                                            <div class='modal-header'>
                                                    <button type='button' class='close' data-dismiss='modal'>&times;</button>
                                                    <h4 class='modal-title'>[@model@] - 
                                                        [%if [@inpromo@]%]
                                                            Now [%if [@has_child@]%]from&nbsp;[%/if%]
                                                            [%format type:'currency'%][@promo_price@][%/format%]
                                                        [%else%]
                                                            [%if [@has_child@]%]From&nbsp;[%/if%]
                                                            [%format type:'currency'%][@store_price@][%/format%]
                                                        [%/if%] 
                                                    </h4>
                                                </div>
                                                <div class='modal-body'>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            [@description@] 
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 modal-img-wrapper">
                                                            <img src="[%asset_url type:'product' id:'[@sku@]' thumb:'thumbL'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%/ asset_url%]" alt="[@model@]" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='modal-footer'>
                                                    <a type='button' href="[@url@]" class='btn btn-default' target="_blank">View Product <i class="fa fa-external-link"></i></a>
                                                    <form class="form-inline upsell-buying-options">
                                                            <input type="hidden" id="sku[@rndm@][@sku@]" name="sku[@rndm@][@sku@]" value="[@sku@]">
                                                            <input type="hidden" id="model[@rndm@][@sku@]" name="model[@rndm@][@sku@]" value="[@model@]">
                                                            <input type="hidden" id="thumb[@rndm@][@sku@]" name="thumb[@rndm@][@sku@]" value="[@thumb@]">
                                                            <input type="hidden" id="qty[@rndm@][@sku@]" name="qty[@rndm@][@sku@]" value="[%if [@min_qty@] > 0%][@min_qty@][%else%]1[%/if%]" placeholder="Qty" class="input-tiny">
                                                            [%if [@extra@] or [@has_child@] %]
                                                                <a href="[@URL@]" title="Buying Options" class="btn btn-primary btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Buying Options</a>
                                                            [%elseif [@store_quantity@] > 0 AND [@preorder@] %]
                                                                <button type="button" title="Pre-Order Now!" class="addtocart btn btn-warning btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
                                                            [%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
                                                                <button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads upsell-btn" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
                                                            [%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
                                                                <button type="button" title="Add to Cart" class="addtocart btn-primary btn btn-loads upsell-btn" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
                                                            [%else%]
                                                                <a class="notify_popup btn btn-default btn-loads" href="[@url@]" title="Notify Me When Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
                                                            [%/if%]
                                                        </form>
                                                </div>
                                            [%/param%]
                                        [%/product%]
                                    </div>
                                </div>
                            </div>
                    </div><div class="upsell-text-wrapper">
                        <div class="upsell-text">
                                <p class="upsell-title">[@model@]</p>
                                [%if [@inpromo@]%]
                                    Now [%if [@has_child@]%]from&nbsp;[%/if%]
                                    <meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
                                    <span itemprop="price" content="[@promo_price@]" class="upsell-price">(+[%format type:'currency'%][@promo_price@][%/format%])</span>
                                [%else%]
                                    [%if [@has_child@]%]From&nbsp;[%/if%]
                                    <span itemprop="price" content="[@store_price@]" class="upsell-price">(+[%format type:'currency'%][@store_price@][%/format%])</span>
                                [%/if%]
                        </div><div class="upsell-cart text-right">
                                <form class="form-inline upsell-buying-options">
                                        <input type="hidden" id="sku[@rndm@][@sku@]" name="sku[@rndm@][@sku@]" value="[@sku@]">
                                        <input type="hidden" id="model[@rndm@][@sku@]" name="model[@rndm@][@sku@]" value="[@model@]">
                                        <input type="hidden" id="thumb[@rndm@][@sku@]" name="thumb[@rndm@][@sku@]" value="[@thumb@]">
                                        <input type="hidden" id="qty[@rndm@][@sku@]" name="qty[@rndm@][@sku@]" value="[%if [@min_qty@] > 0%][@min_qty@][%else%]1[%/if%]" placeholder="Qty" class="input-tiny">
                                        [%if [@extra@] or [@has_child@] %]
                                            <a href="[@URL@]" title="Buying Options" class="btn btn-primary-ghost btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Buying Options</a>
                                        [%elseif [@store_quantity@] > 0 AND [@preorder@] %]
                                            <button type="button" title="Pre-Order Now!" class="addtocart btn btn-primary-ghost btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
                                        [%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
                                            <button type="button" title="Add to Cart" class="addtocart btn-primary-ghost btn btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add <i class="fa fa-cart-plus"></i></button>
                                        [%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
                                            <button type="button" title="Add to Cart" class="addtocart btn-primary-ghost btn btn-loads" rel="[@rndm@][@sku@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
                                        [%/if%]
                                </form> 
                        </div>
                    </div>
               </div>
    
    
    
    
    
    