<div class="thumbnail-product-details upsell nCrossSellItem" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="brand" content="[@brand@]"/>
        <meta itemprop="mpn" content="[@sku@]"/>
        <input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
        <input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
        <input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
        <input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="0" placeholder="Qty">
        <input type="hidden" id="price[@sku@]" name="price[@sku@]" value="[%if [@inpromo@]%][@promo_price@][%else%][@store_price@]">
                
                    <div class="upsell-checkbox-wrapper">
                        <label>
                            <input type="checkbox" id="chk[@sku@]" data-product="[@rndm@][@SKU@]" onclick="$.amend_total('[@sku@]')">
                            <span class="upsell-title">[@model@]
                            [%if [@inpromo@]%]
                                Now [%if [@has_child@]%]from&nbsp;[%/if%]
                                <meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
                                <span itemprop="price" content="[@promo_price@]">(+[%format type:'currency'%][@promo_price@][%/format%])</span>
                            [%else%]
                                [%if [@has_child@]%]From&nbsp;[%/if%]
                                <span itemprop="price" content="[@store_price@]">(+[%format type:'currency'%][@store_price@][%/format%])</span>
                            [%/if%]
                            </span>
                        </label>
                        <span class="upsell-quickview" data-toggle="modal" data-target=".quick[@sku@]"><span class="quickview-text">Quickview</span><span class="quickview-icon"><i class="fa fa-search-plus"></i> </span></span>
                        <span class="added-wrapper text-right"><button class="btn btn-success uppercase relative">Added</button></span>
                </div>
            
</div>


<div class='modal fade quick[@sku@]' role='dialog'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            [%product sku:'[@sku@]'%]
                [%param *body%]
                <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                        <h4 class='modal-title'>[@model@] - 
                            [%if [@inpromo@]%]
                                Now [%if [@has_child@]%]from&nbsp;[%/if%]
                                [%format type:'currency'%][@promo_price@][%/format%]
                            [%else%]
                                [%if [@has_child@]%]From&nbsp;[%/if%]
                                [%format type:'currency'%][@store_price@][%/format%]
                            [%/if%] 
                        </h4>
                    </div>
                    <div class='modal-body'>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                [@description@] 
                            </div>
                            <div class="col-xs-12 col-sm-6 modal-img-wrapper">
                                <img src="[%asset_url type:'product' id:'[@sku@]' thumb:'thumbL'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%/ asset_url%]" alt="[@model@]" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <a type='button' href="[@url@]" class='btn btn-default' target="_blank">View Product <i class="fa fa-external-link"></i></a>
                        <button type='button' class='btn btn-default data-upsell-btn' data-addupsell="chk[@sku@]">Bundle with purchase!</button>
                    </div>
                [%/param%]
            [%/product%]
            
        </div>
    </div>
</div>

