
					[%crosssell id:'[@SKU@]' limit:'' show_all:'1'%]
					[%param header%]
						<div class="nUpsellWidget">
							
									<div class="nUpsellWidget--title">
										<h3>Complete the look:</h5>
									</div>
							
								<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
								<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
								<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
								<!-- <div class="row"> -->
									[%crosssell id:'[@sku@]' limit:'4' show_all:'1'%]
										[%param *body%]
											<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
											<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
											<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
											<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" placeholder="Qty">
											<div class="col-xs-12 col-sm-6">
												<div class="row upsell-wrapper">

														<div class="col-xs-5 upsell-left">
															<img class="img-responsive center-absolute upsell-img" src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'/%]">
														</div>
														<div class="col-xs-7 upsell-right">
															<a href="[@url@]"><h5 class="upsell-title">[@model@]</h5></a>
															<p>[%format type:'currency'%][@price@][%/format%]</p>
															<div class="upsell-cart-btn-wrapper text-right">
																<button type="button" title="Add [@model@] to Cart" class="addtocart btn-success btn btn-block btn-md btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
															</div>
														</div>

												</div>
											</div>
										[%/param%]
									[%/crosssell%]
								<!-- </div> -->
							</div>
					[%/param%]
					[%param *body%]
						<!--Keep this empty-->
					[%/param%]
					[%param *ifempty%]
						[%thumb_list type:'random_products' filter_category:'' limit:'4' filter_exsku#:'[@sku@]'%]
						[%param *header%]
						<div class="row">
							<div class="col-xs-12">
								<div class="nUpsellWidget--title">
									<h3 class="primary-title upsell-panel-title">Why not also try...</h5>
								</div>
							</div>
						</div>
								
							<div class="row">
								<div class="col-xs-12">
						[%/param%]
						[%param *body%]
								<div class="upsell-col">
										<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
										<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
										<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
										<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="1" placeholder="Qty">
									<div class="upsell-inner">
											<div class="upsell-left">
													<img class="img-responsive upsell-img" src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'/%]">
											</div>
											<div class="upsell-right">
												<a href="[@url@]"><h5 class="upsell-title">[@model@]</h5></a>
												<p>[%format type:'currency'%][@price@][%/format%]</p>
												<div class="upsell-cart-btn-wrapper text-right">
													<button type="button" title="Add [@model@] to Cart" class="addtocart btn-success btn btn-block btn-md btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
												</div>
											</div>
									</div>		
								</div>	
						[%/param%]
						[%param *footer%]
						</div>									
						</div>
						[%/param%]
						[%param *ifempty%]
							No Results Found
						[%/param%]
						[%/thumb_list%]
					[%/param%]
				[%/crosssell%]
