[%if [@config:show_product_reviews@]%]
	<div class="tab-pane" id="reviews">
		<div class="row">
			<div class="col-xs-12">
				[%thumb_list type:'product_reviews' limit:'6'%]
					[%param filter_1%][@SKU@][%/param%]

					[%param *header%]
					<div class="single-review-wrapper">
					[%/param%]
					[%param *body%]
					<div itemprop="review" itemscope itemtype="http://schema.org/Review" class="single-review relative">
						<div class="big-quote">
							<i class="fa fa-quote-left"></i>
						</div>
						<meta itemprop="itemReviewed" content="[@name@]">
						<meta itemprop="image" content="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]">
							<h3 itemprop="name" class="product-review-title">[@title@]</h3>
							<div class="product-review">
							<span itemprop="description">[@review@]</span>
							<span class="review-author uppercase">
									[%if [@reviewname@]%]
										<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">&mdash; [@reviewname@]</span></span> 
									[%/if%]
							</div>
							<br/>
							<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
								<meta itemprop="worstRating" content = "1">
								<meta itemprop="ratingValue" content = "[@score@]">
								<meta itemprop="bestRating" content = "5">
							</div>
							<div class="star-rating text-center">
								[%set [@data:ratings-count@] = 1 /%]
								[%while [@data:ratings-count@] <= [@data:score@]%]
									[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
									<i class="icon fa fa-star primary-color"></i>
								[%/while%]
								[%while [@data:ratings-count@] <= 5%]
									[%set [@data:ratings-count@] = [@data:ratings-count@]+1 /%]
									<i class="icon fa fa-star-o primary-color"></i>
								[%/while%]
							</div>
					</div>
					[%/param%]
					[%param *footer%]
					</div>
					[%/param%]
					[%param *ifempty%] 
					<div class="single-review relative">
					<div class="big-quote">
						<i class="fa fa-quote-left"></i>
					</div>		
					<h3 itemprop="name" class="product-review-title">No reviews yet</h3>
					<div class="product-review no-reviews">
						<span>Why not <a href="[%URL page:'account' type:'write_review' qs:'item=[@SKU@]'%][%/URL%]">leave a review?</a></span>
						
						<br/>
					</div>
					</div>
					[%/param%]
				[%/thumb_list%]
			</div>
		</div><!--/.tab-pane-->
	</div>
[%/if%]