<div class="[%if [@count@] eq '0' OR [@count@] eq '3'%] col-md-8 [%else%] col-md-4 [%/if%]">
    <div class="advert-grid-wrapper relative advert-grid-[%calc [@count@] + 1 /%]" style="background-image:url('[%asset_url type:'adw' id:'[@ad_id@]'%][%/asset_url%]')">
        <div class="caption-backdrop">
            <h3 class="uppercase">[@headline@]</h3>
            <p class="hidden-xs">[@description@]</p>
            <a href="[@url@]"><button class="btn btn-lg btn-white-ghost">[@linktext@]</button></a>
        </div>
    </div>
</div>