body{
    font:400 15px "Work Sans",sans-serif
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:"Work Sans",sans-serif;
    font-weight:600
}
@border-radius-base:0px;
@border-radius-large:0px;
@border-radius-small:0px;
.category-thumbnail:nth-child(3n + 1){
    clear:none
}
header{
    overflow:visible;
    background-color:#fff;
    z-index:9999;
    padding:10px;
    box-shadow:0px 2px 4px rgba(0,0,0,0.13)
}
#neto-dropdown{
    width:269px
}
.main-content{
    position:relative;
    margin-left:auto
}
.uppercase{
    text-transform:uppercase
}
.home-text-wrapper h1,.home-text-wrapper p{
    color:#fff
}
a,.underline{
    color:inherit!important
}
.text-decoration-none{
    text-decoration:none;
    border-bottom:0
}
.panel-title > a,.panel-heading > h3{
    display:block;
    padding:initial
}
a:hover,a:focus{
    text-decoration:none
}
.header-menu-item-wrapper h2{
    font-size:16px;
    text-transform:uppercase;
    border-left:5px solid #d8ac64;
    background:linear-gradient(to right,#41515e 50%,#efefef 50%);
    background-size:200% 100%;
    background-position:right bottom;
    transition:all 0.3s ease;
    margin-bottom:5px
}
.header-menu-item-wrapper h2 a{
    display:block;
    margin-left:10px;
    padding:15px
}
.relative{
    position:relative
}
.thumbnail{
    padding:100% 0 0;
    border:none;
    transition:all 0.3s ease-in-out;
    box-shadow:none;
    border-radius:0;
    width:100%;
    position:relative;
    margin:0
}
.header-search form{
    padding:9px 0
}
@media (max-width:767px){
    .wrapper-thumbnail{
        float:left
    }
}
.thumbnail .product-image{
    max-width:99.9%
}
.upsell-row{
    margin:15px 0 60px
}
.header-search{
    margin-top:0
}
.btn{
    border-radius:0;
    font-size:18px
}
.list-social{
    margin:0
}
.list-social a{
    text-decoration:none;
    border-bottom:0
}
.main-image .slick-right,.main-image .slick-left{
    bottom:5px;
    top:unset
}
.slick-right:hover,.slick-left:hover{
    cursor:pointer
}
.panel-group{
    margin-bottom:5px
}
.star-rating{
    position:relative;
    display:block;
    margin-bottom:0;
    margin-top:15px
}
.pagination-child{
    display:inline-block;
    padding:0 2px
}
.pagination-child button{
    color:#c48c31;
    background-color:transparent;
    border-bottom:0
}
.active.pagination-child button{
    border-color:#d8ac64;
    color:#c48c31;
    background-color:#fff;
    border-bottom:1px solid #d8ac64
}
.pagination-container{
    margin-top:25px;
    margin-bottom:25px
}
.pagination-child.number a{
    border-bottom:0
}
.single-review{
    background-color:#f6f6f6;
    border-left:0;
    box-shadow:0px 1.69182px 5.07547px rgba(0,0,0,0.12);
    padding:50px 60px 45px;
    margin:25px 15px 0 50px
}
.breadcrumb{
    border-radius:0;
    background-color:#efeff0;
    margin-bottom:15px;
    display:inline-block;
    margin-top:30px
}
.content-type-content-wrapper,.content-type-comments-wrapper,.content-type-header-wrapper,.content-type-leave-comment{
    background-color:#fff;
    margin-bottom:30px;
    font-size:18px
}
._itmspec_listopt{
    margin-top:20px
}
#cartcontentsheader{
    margin-bottom:25px;
    width:215px;
    height:34px;
    margin-left:13px;
    margin-bottom:unset;
    font-size:unset;
    width:unset;
    height:unset;
    margin-left:unset
}
.menu-wrapper,.account-wrapper,.wishlist-wrapper,.checkout-wrapper{
    display:inline-block
}
.wrapper-header{
    position:relative;
    width:100%
}
.wishlist-wrapper i{
    color:#6d9cb0
}
.mobile-header{
    display:flex;
    align-items:center
}
.mobile-header i{
    font-size:25px
}
.mobile-header p{
    margin:0
}
.information-row{
    background-color:#f6f6f6;
    padding:0 0 60px;
    margin-top:120px;
    margin-bottom:0
}
@media only screen and (max-width:767px){
    .product-image-slider{
        margin-bottom:25px
    }
}
@media only screen and (max-width:992px){
    .breadcrumb{
        font-size:12px
    }
}
@media only screen and (max-width:767px){
    .tabbable{
        width:100%;
        margin-left:0
    }
}
.thumbnail-product-details{
    color:#333;
    position:absolute;
    width:100%;
    height:90px;
    background-color:transparent;
    border-left:0;
    padding:10px 0px 0px
}
.thumbnail-price{
    z-index:1000;
    font-size:20px;
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    background-color:transparent;
    padding:0
}
.thumbnail-image-wrapper{
    display:flex;
    align-items:center;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0
}
.header-menu-item-wrapper i{
    font-size:15px;
    display:inline-block;
    vertical-align:middle
}
.product-badges{
    display:inline-block;
    position:relative;
    top:0;
    right:0;
    margin-top:5px;
    width:auto;
    text-align:right
}
.svg-wrapper{
    position:relative;
    display:inline-block;
    width:75px;
    height:75px
}
.svg-wrapper svg{
    width:100%;
    height:100%
}
.svg-wrapper svg polygon.inpromo{
    fill:#6d9cb0
}
.svg-wrapper svg polygon.percentoff{
    fill:#e8746d
}
.svg-wrapper svg polygon.rrp{
    fill:#d8ac69
}
.svg-wrapper p{
    position:absolute;
    top:46%;
    left:50%;
    transform:translate(-50%,-50%);
    width:85%;
    text-align:center;
    color:#fff;
    margin:0;
    text-transform:uppercase;
    font-size:12px;
    line-height:1
}
.svg-wrapper p i{
    font-size:21px
}
.product-page-main-info{
    background-color:#fff;
    border-left:0;
    text-align:center
}
.label{
    font-size:85%;
    font-weight:normal
}
.wrapper-pricing{
    font-size:13px
}
.list-social i{
    color:#fff;
    font-size:22px
}
.btn-primary,.label-primary{
    background-color:#41515e;
    border-color:#4d5860
}
.btn-primary:hover,.btn-primary:active{
    background-color:#4d5860;
    border-color:#424b52
}
.btn-success,.label-success{
    background-color:#49a2a2;
    border-color:#3cafaf
}
.btn-success:hover,.btn-success:active{
    background-color:#3f8d8d;
    border-color:#37a0a0
}
.btn-warning,.label-warning{
    background-color:#e6af56;
    border-color:#e1a037
}
.btn-warning:hover,.btn-warning:active{
    background-color:#e2a23c;
    border-color:#d99320
}
.btn-danger,.label-danger{
    background-color:#eb766f;
    border-color:#e9645d
}
.btn-danger:hover,.btn-danger:active{
    background-color:#e85c54;
    border-color:#e54b43
}
.cart-count{
    position:absolute;
    top:-10px;
    right:-8px;
    background-color:#6d9cb0;
    color:#fff;
    width:20px;
    height:20px;
    line-height:21px;
    font-size:11px;
    margin:0;
    border-radius:50%;
    padding:0
}
.components-thumbnail #main-image{
    height:auto
}
.thumbnail.kitted .caption{
    height:auto
}
.mob-search{
    height:50px
}
.header-search.mobile{
    margin-bottom:2px;
    margin-bottom:10px
}
.btn.mob-search{
    background-color:#41515e;
    color:#fff;
    border:1px solid #41515e
}
.checkout-inner .dropdown-menu{
    left:unset;
    right:-16px;
    width:282px
}
.checkout-label{
    display:block
}
.second-lvl-cat a{
    display:flex;
    align-items:center;
    padding-left:10px;
    min-height:20px;
    font-size:15px
}
.second-lvl-title-wrapper{
    min-height:30px
}
.category-toggle{
    width:15%;
    vertical-align:middle;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#6d9cb0
}
@media only screen and (max-width:1200px){
    .category-toggle{
        background-color:#f6f6f6;
        border:1px solid #cadddd
    }
}
.category-toggle i{
    font-size:11px;
    transition:all 0.2s ease
}
.top-lvl-cat{
    border-left:5px solid #6d9cb0;
    border-top:0;
    border-bottom:0;
    background-color:#f6f6f6;
    margin-bottom:5px
}
.category-lvl-wrapper{
    padding-bottom:15px
}
.top-lvl-title-wrapper > a{
    padding:12px 10px 10px 15px;
    text-transform:uppercase;
    font-weight:600;
    flex:1
}
.second-lvl-cat{
    font-size:13px;
    font-weight:600
}
.third-lvl-cat{
    margin-bottom:10px;
    font-weight:400
}
.top-lvl-title-wrapper,.second-lvl-title-wrapper{
    display:flex
}
.top-lvl-cat.close-menu-wrapper{
    background-color:#6d9cb0;
    color:#fff;
    border-color:#6d9cb0;
    margin-bottom:20px;
    padding:6px 0px;
    text-align:center
}
@media only screen and (max-width:1200px){
    .top-lvl-cat.close-menu-wrapper{
        margin-top:15px
    }
}
.closeCatMenu i{
    padding-right:7px;
    vertical-align:middle;
    font-size:11px
}
.category-trigger-btn i{
    margin-left:10px;
    margin-top:-2px;
    font-size:11px
}
.fa{
    vertical-align:middle
}
.header-menu-item-wrapper{
    overflow:hidden
}
.mobile-menu-items-wrapper{
    width:200vw;
    transition:all 0.5s ease
}
.mobile-menu-items-wrapper .slide-1{
    width:~"calc(50% - 50px)";
    max-width:100%;
    display:inline-block;
    vertical-align:top;
    margin-right:50px
}
.mobile-menu-items-wrapper .slide-2{
    width:~"calc(50% - 50px)";
    display:inline-block;
    vertical-align:top;
    max-height:0;
    transition:max-height 1s ease
}
.overflow-hidden{
    overflow:hidden
}
@media (min-width:768px){
    .mobile-menu-items-wrapper{
        width:100vw
    }
}
.fancybox-navigation .fancybox-button--arrow_right,.fancybox-navigation .fancybox-button--arrow_left{
    background-color:#fff
}
@media (max-width:767px){
    .thumbnail-price{
        font-size:20px
    }
    .thumbnail-product-details{
        background-color:transparent;
        border-left:0;
        padding:0
    }
    .wrapper-thumbnail{
        padding:0px 15px
    }
    .svg-wrapper{
        width:auto;
        height:auto
    }
    .svg-wrapper br,.svg-wrapper svg,.svg-wrapper i{
        display:none
    }
    .svg-wrapper p{
        position:relative;
        top:auto;
        left:auto;
        transform:none;
        width:100%;
        text-align:center;
        background-color:#333;
        color:#fff;
        margin:0;
        text-transform:uppercase;
        font-size:12px;
        line-height:1;
        padding:5px
    }
    .product-badges{
        top:0;
        right:0;
        width:50%;
        text-align:right
    }
    .svg-wrapper p.inpromo{
        background-color:#6d9cb0
    }
    .svg-wrapper p.percentoff{
        background-color:#e8746d
    }
    .svg-wrapper p.rrp{
        background-color:#d8ac69
    }
}
.productpage-brand img{
    max-height:40px;
    max-width:50%
}
.productrrp,.productsave,.productwasprice{
    display:inline-block;
    font-size:16px;
    text-decoration:none
}
.productrrp:after,.productsave:after,.productwasprice:after{
    content:'|';
    margin:0 10px;
    text-decoration:none;
    color:#49a2a2
}
.productpage-brand{
    margin-top:-10px;
    margin-bottom:25px;
    text-align:left;
    margin-top:0;
    margin-top:15px;
    margin-bottom:15px;
    text-align:right
}
.productpromo,.productpricetext{
    margin-top:-20px;
    margin-top:0;
    line-height:1;
    margin-bottom:10px
}
.kit-title{
    text-align:left;
    font-size:18px;
    font-weight:400
}
.variation-name{
    margin-bottom:-10px;
    text-align:left
}
#homepageCarousel{
    opacity:0;
    visibility:hidden;
    transition:opacity 1s ease;
    -webkit-transition:opacity 1s ease;
    margin-bottom:15px
}
.thumbnail-price > a,.product-name > h3{
    display:block
}
@media only screen and (min-width:767px){
    .thumbnail-product-details{
        margin-top:-1px
    }
}
@media only screen and (max-width:767px){
    .wrapper-thumbnail{
        margin-bottom:100px
    }
}
@media only screen and (min-width:992px){
    .product-image-slider img{
        max-width:100%
    }
}
@media only screen and (min-width:992px){
    .product-image-slider,.product-shadow-box-wrapper{
        display:flex;
        align-items:center
    }
}
@media (max-width:1350px){
    .product-page-main-info{
        padding:0
    }
}
@media (max-width:991px){
    .purchase-form .col-sm-12 + .col-sm-12,.btn-stack .col-xs-12 + .col-xs-12{
        margin-top:0
    }
}
@media (max-width:1200px){
    .productpromo,.productpricetext{
        font-size:45px
    }
}
.mobile-cart-wrapper{
    justify-content:flex-end
}
.mobile-cart-wrapper > div{
    margin:0 15px
}
.wrapper-logo{
    text-align:center
}
@media only screen and (min-width:1200px){
    .wrapper-header{
        max-height:110px
    }
}
@media only screen and (min-width:767px){
    .wrapper-logo{
        text-align:left
    }
    .mobile-menu-items-wrapper{
        width:200vw
    }
}
.logo{
    max-height:90px;
    margin-top:0
}
.home-text-wrapper{
    background-color:#41515e;
    width:100%;
    text-align:left;
    padding:30px 0 35px
}
.brand-img{
    max-width:100%;
    max-height:100px;
    padding:0 10px
}
.brands-heading{
    font-weight:700;
    text-transform:uppercase;
    font-size:65px;
    line-height:0.8;
    margin-bottom:15px
}
.brands-wrapper{
    padding-bottom:45px;
    padding-top:45px;
    padding-bottom:75px;
    padding-top:60px;
    padding-bottom:30px
}
@media (max-width:992px){
    .brands-wrapper{
        padding-top:60px;
        padding-bottom:60px
    }
    .brands-heading{
        font-size:34px
    }
}
.footer-wrapper{
    margin-top:75px;
    padding-top:75px;
    margin-top:0;
    background-color:#41515e;
    color:#fff
}
.footer-wrapper .nav > li > a:hover,.footer-wrapper .nav > li > a:focus{
    background-color:transparent
}
@media (min-width:992px){
    .collapseit{
        display:block;
        margin-left:-30%
    }
}
.collapseit{
    display:none;
    display:block
}
.page-header{
    border-bottom:0;
    padding-bottom:0;
    margin:30px 0 15px;
    font-size:48px;
    text-transform:uppercase;
    font-weight:700
}
.category-header-row{
    display:flex;
    align-items:center
}
#left-sidebar{
    opacity:0.9
}
@media (min-width:992px){
    .collapseit{
        display:none!important;
        margin-left:-30%
    }
}
.page-header > span{
    text-transform:capitalize
}
@media only screen and (max-width:1200px){
    .page-header{
        font-size:24px
    }
}
@media only screen and (max-width:992px){
    .footer-wrapper{
        text-align:center
    }
    .footer-wrapper .nav{
        margin-bottom:30px
    }
}
#triggerMenu,#mobile-menu-toggle{
    cursor:pointer
}
@media (max-width:767px){
    .product-badges{
        top:0;
        right:0;
        width:100%;
        text-align:right
    }
    .svg-wrapper{
        margin-bottom:5px
    }
}
@media only screen and (min-width:992px){
    .product-image-slider img{
        max-width:100%
    }
}
.modal-dialog{
    min-width:40vw
}
.brands-heading-wrapper{
    border-left:8px solid #d8ab64;
    padding-left:15px
}
.info-title[aria-expanded="true"]:after{
    content:'';
    border-bottom:13px solid #d8ab64;
    display:block;
    margin-top:-16px;
    margin-left:21px;
    width:103%
}
.product-top-wrapper{
    margin-top:40px;
    margin-top:0
}
.product-flex-wrapper{
    display:flex
}
.flex-col{
    display:flex;
    flex-direction:column;
    height:100%
}
.buying-options-wrapper{
    align-self:flex-end;
    margin-top:auto;
    margin-bottom:30px
}
.pricing-wrapper{
    align-self:flex-end;
    margin-top:auto;
    text-align:right
}
.productpromo{
    font-size:46px
}
.product-wishlist{
    margin-top:20px
}
.product-wishlist i{
    margin-right:10px;
    margin-top:-3px
}
.product-wishlist .wishlist_toggle{
    font-weight:600
}
.product-description-wrapper{
    margin-top:24px;
    margin-top:0
}
@media only screen and (max-width:992px){
    .product-flex-wrapper{
        display:block
    }
    .product-top-wrapper{
        margin-top:15px
    }
}
.product-buying-btns button{
    height:60px
}
#n_product .qty::-webkit-outer-spin-button,#n_product .qty::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0
}
.product-page-badges{
    padding:10px 0
}
.product-image-slider img{
    width:100%
}
@media only screen and (min-width:992px){
    .product-image-slider,.product-shadow-box-wrapper{
        height:auto;
        align-items:unset
    }
}
.menu-row-desktop{
    box-shadow:5px 0 1px rgba(0,0,0,0.12);
    background-color:#fdfdfd;
    color:#333
}
@media (min-width:768px){
    .navbar-nav > li{
        position:unset
    }
    .nav.header > li{
        position:unset
    }
    .dropdown{
        position:unset
    }
    .dropup,.dropdown{
        position:unset
    }
    .dropdown-menu.mega-menu .mega-inner{
        column-count:3;
        column-gap:30px
    }
    .lv2-li > ul{
        padding-left:0;
        padding-top:2px;
        line-height:1.5
    }
    .mega-menu{
        width:750px
    }
}
@media (min-width:992px){
    .mega-menu{
        width:970px
    }
}
@media (min-width:1200px){
    .mega-menu{
        width:1170px
    }
}
@media (min-width:768px){
    .menu-row-desktop .navbar-nav > li > a{
        padding-top:18px;
        padding-bottom:15px
    }
}
.navbar-nav > li > .dropdown-menu.mega-menu{
    margin-top:0;
    border:none;
    padding:30px
}
.mega-category-title,.mega-advert,.mega-ad-heading{
    color:#333
}
.lv2-li > a{
    text-transform:uppercase;
    font-weight:600
}
.mega-product{
    margin-top:-5px;
    z-index:-1;
    position:relative
}
.mobile-cart-wrapper > .header-search-desktop{
    width:400px;
    align-self:center;
    margin:0 auto;
    width:100%
}
.mobile-header .header-search-desktop i{
    font-size:16px;
    margin-top:-3px
}
@media only screen and (min-width:992px){
    .mobile-cart-wrapper{
        margin-top:0;
        align-items:center;
        margin-bottom:0
    }
    .mobile-cart-wrapper > div{
        margin-left:15px;
        margin-right:15px;
        margin-top:13px
    }
}
.footer-subscribe-bar .form-control,.footer-subscribe-bar .input-group-btn > input{
    height:44px
}
.tabbable .nav-tabs{
    border-bottom:0
}
.tabbable .nav-tabs > li.active > a,.tabbable .nav-tabs > li.active > a:hover,.tabbable .nav-tabs > li.active > a:focus{
    background-color:#d8ac64;
    border:none
}
.tabbable .nav-tabs > li{
    margin-bottom:0
}
.tabbable .nav > li > a:hover,.tabbable .nav > li > a:focus,.tabbable .nav > .nav-item[aria-selected="true"]{
    background-color:#d8ac64
}
.tabbable .tab-pane{
    margin-top:30px
}
.tabbable .nav-tabs > li > a{
    margin-right:0;
    border:0;
    font-size:18px;
    padding:20px 35px
}
@media only screen and (min-width:1200px){
    .tabbable .nav-tabs > li > a{
        font-size:20px;
        padding:20px 40px
    }
}
.productdetails{
    font-size:18px;
    line-height:1.4
}
#product-info-accordion{
    margin-top:45px
}
#product-info-accordion .productdetails{
    font-size:16px;
    margin-left:15px;
    margin-top:15px
}
#product-info-accordion .panel{
    box-shadow:none
}
#product-info-accordion.panel-group .panel + .panel,#product-info-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body{
    margin-top:0;
    border-top:0
}
#product-info-accordion .panel-title > a{
    font-size:18px;
    padding:20px 25px
}
#product-info-accordion .panel-heading{
    padding:0
}
#product-info-accordion .panel-title > a[aria-expanded="true"]{
    border-left:5px solid #d8ac64
}
#product-info-accordion .panel-title > a[aria-expanded="false"]{
    border-left:5px solid #41515e
}
#product-info-accordion.panel-group .panel{
    border:0;
    padding-top:5px
}
.reviews-row{
    display:flex;
    padding-top:120px;
    padding-bottom:120px
}
.star-rating i{
    color:#d8ac64;
    font-size:22px;
    padding:0 2px
}
.review-author{
    opacity:0.5;
    font-size:75%
}
.product-review{
    margin-top:20px;
    font-size:18px;
    line-height:1.4
}
.big-quote{
    position:absolute;
    top:-40px;
    left:-25px;
    font-size:75px;
    opacity:0.7
}
.reviews-title-inner-wrapper{
    display:flex;
    flex-direction:column
}
.leave-review-wrapper{
    font-size:18px;
    margin-left:42px;
    margin-bottom:10px;
    margin-top:30px
}
.leave-review-wrapper p{
    margin-bottom:5px
}
.leave-review-wrapper a,.no-reviews a{
    border-bottom:2px solid #d8ac64;
    font-weight:600
}
@media only screen and (max-width:992px){
    .reviews-row{
        display:block
    }
    #reviews{
        margin-top:30px
    }
    .leave-review-wrapper{
        margin-top:45px
    }
    .single-review{
        margin-left:30px;
        margin-right:13px
    }
}
.upsells-outer-wrapper > div:nth-child(odd){
    background-color:#f6f6f6
}
.brave-heading{
    font-weight:700;
    font-size:60px;
    line-height:0.9;
    border-left:10px solid #d8ac64;
    padding-left:30px
}
.upsell-bg .brave-heading{
    margin-top:120px;
    margin-bottom:75px
}
#instafeed{
    margin-bottom:75px;
    margin-bottom:60px
}
.main-product-title{
    margin-top:30px;
    margin-bottom:30px
}
.brave-subheading{
    font-weight:700;
    font-size:28px;
    border-left:5px solid #d8ac64;
    padding-left:20px
}
.product-name{
    font-size:18px
}
.thumbnail-price > .price{
    background-color:#41515e;
    padding:10px 20px
}
.badge-wrapper{
    position:relative;
    width:auto;
    height:auto;
    margin-bottom:5px
}
.badge-wrapper br,.badge-wrapper svg,.badge-wrapper i{
    display:none
}
.badge-wrapper p{
    position:relative;
    top:auto;
    left:auto;
    transform:none;
    width:100%;
    text-align:center;
    background-color:#333;
    color:#fff;
    margin:0;
    text-transform:uppercase;
    font-size:12px;
    line-height:1;
    padding:5px
}
.badge-wrapper p.inpromo{
    background-color:#6d9cb0
}
.badge-wrapper p.percentoff{
    background-color:#e8746d
}
.badge-wrapper p.rrp{
    background-color:#d8ac69
}
.sort_container form{
    margin-bottom:0
}
@media only screen and (max-width:767px){
    .brave-heading{
        font-size:37px
    }
}
@media only screen and (max-width:767px){
    .reviews-row{
        padding-top:75px;
        padding-bottom:75px
    }
    .upsell-bg .brave-heading{
        margin-top:60px;
        margin-bottom:30px
    }
    .upsell-row{
        margin:15px 0 45px
    }
}
@media only screen and (max-width:992px){
    .variation-name{
        text-align:right
    }
}
.variation-name > label{
    text-transform:uppercase;
    font-weight:600;
    font-size:18px
}
.n-wrapper-form-control select{
    font-size:18px;
    height:40px
}
.thumbnail.components-thumbnail{
    padding:0
}
.product-info-inner-wrapper{
    text-align:right
}
.brave-subheading-right{
    font-weight:700;
    font-size:28px;
    border-right:5px solid #d8ac64;
    padding-right:20px
}
.mobile-pricing{
    margin-top:15px
}
.mega-advert .brave-subheading{
    margin-left:15px;
    margin-bottom:15px
}
@media (min-width:768px){
    .dropdown-menu.mega-menu .mega-inner,.lv1-li > a{
        font-size:16px
    }
}
.product-images-wrapper .product-page-badges{
    position:absolute;
    top:0;
    z-index:99;
    right:10px;
    width:75px
}
@media only screen and (min-width:992px){
    .buying-options-wrapper{
        margin-bottom:0
    }
    .pricing-wrapper{
        margin-top:15px
    }
}
@media only screen and (max-width:767px){
    .brave-heading{
        font-size:28px;
        border-left:4px solid #d8ac69;
        padding-left:15px;
        font-weight:700;
        letter-spacing:0.2px
    }
    .main-product-title{
        margin-bottom:15px
    }
    .productpromo{
        font-size:28px
    }
    .product-buying-btns button,#n_product .qty{
        height:48px
    }
    #product-info-accordion{
        margin-top:0
    }
    #product-info-accordion .panel-title > a{
        font-size:14px;
        padding:15px 25px
    }
    .btn{
        font-size:16px
    }
    #product-info-accordion .productdetails{
        font-size:14px;
        margin-left:0;
        margin-top:5px
    }
    #product-info-accordion .panel-title > a[aria-expanded="false"],#product-info-accordion .panel-title > a[aria-expanded="true"]{
        border-width:4px
    }
    .reviews-row{
        padding-top:30px;
        padding-bottom:30px
    }
    .single-review{
        padding:20px 20px 30px;
        margin-top:15px
    }
    .product-review-title{
        font-size:18px;
        margin-top:10px
    }
    .product-review{
        font-size:14px;
        margin-top:15px
    }
    .big-quote{
        top:-20px;
        left:-20px;
        font-size:40px
    }
    .leave-review-wrapper{
        font-size:14px;
        margin-left:0
    }
    .thumbnail-price > .price{
        padding:5px 10px;
        font-size:14px
    }
    .product-name{
        font-size:14px;
        line-height:1
    }
    .thumbnail-product-details{
        padding-top:5px;
        height:55px
    }
    .wrapper-thumbnail{
        margin-bottom:60px
    }
    .page-header{
        margin:15px 0 0
    }
    .header-menu-item-wrapper h2 a{
        display:block;
        margin-left:10px;
        font-size:14px;
        padding:15px 10px
    }
    .header-menu-item-wrapper h2{
        border-width:4px
    }
    .top-lvl-title-wrapper > a{
        font-size:14px;
        padding:15px 10px
    }
    .top-lvl-cat{
        border-width:4px
    }
    .top-lvl-cat.close-menu-wrapper{
        margin-top:0
    }
}
.menu-row-desktop .nav > li > a:hover,.menu-row-desktop .nav > li > a:focus{
    text-decoration:none;
    background-color:#41515e;
    color:#fff!important
}
.menu-row-desktop .nav > li:hover > a,.menu-row-desktop .nav > li:focus > a{
    text-decoration:none;
    background-color:#41515e;
    color:#fff!important
}
.top-bar{
    background:#41515e;
    color:#fff;
    border-bottom:1px solid #d8d8d8
}
.top-bar .announcement{
    font-size:14px;
    line-height:28px;
    background-color:#41515e
}
.announcement span{
    display:inline-block;
    vertical-align:middle;
    opacity:0.8
}
.announcement i{
    margin-right:5px
}
.header-icons-wrapper{
    display:flex;
    justify-content:space-between
}
.header-utility-menu{
    color:#fff;
    font-size:14px;
    opacity:0.8
}
.header-utility-menu .list-inline{
    margin-bottom:0
}
.dropdown-menu{
    z-index:99999
}
.header-utility-menu > .list-inline > li{
    position:relative;
    line-height:28px
}
.header-utility-menu > .list-inline > li .dropdown-menu{
    left:unset;
    right:0;
    margin-top:0
}
@media only screen and (max-width:992px){
    .top-bar{
        background:#41515e
    }
    .top-bar .announcement{
        line-height:unset;
        padding-top:5px;
        padding-bottom:6px
    }
}
li.lv3-li{
    list-style:none
}
.lv1-li i{
    font-size:75%
}
@media only screen and (max-width:767px){
    .home-carousel-img{
        object-fit:cover;
        height:250px
    }
}
.home-text-wrapper p{
    font-size:18px;
    line-height:1.4
}
.home-text-wrapper h1{
    margin-top:10px;
    font-size:50px;
    font-weight:700
}
.home-carousel-text-wrapper{
    border-left:10px solid #d8ac64;
    padding-left:30px
}
.home-carousel-text-wrapper button{
    margin-top:15px
}
.btn-white-ghost{
    border:1px solid #fff;
    background-color:transparent;
    transition:all 0.3s ease;
    color:#fff
}
.advert-grid-wrapper{
    height:445px;
    width:100%;
    background-size:cover;
    background:no-repeat center center;
    margin-top:30px;
    overflow:hidden
}
.caption-backdrop{
    color:#fff;
    padding:15px;
    transition:all 0.3s ease
}
.caption-backdrop h3{
    margin-top:15px
}
.caption-backdrop p{
    font-size:18px;
    line-height:1.3;
    margin-top:15px;
    margin-bottom:15px
}
.advert-grid-1 .caption-backdrop{
    position:absolute;
    right:-40%;
    top:0;
    bottom:0;
    width:40%;
    background-color:#699
}
.advert-grid-2 .caption-backdrop{
    position:absolute;
    right:0;
    left:0;
    bottom:-100%;
    height:auto;
    background-color:#e8746d
}
.advert-grid-3 .caption-backdrop{
    position:absolute;
    right:0;
    left:0;
    top:-100%;
    height:auto;
    background-color:#D8AC64
}
.advert-grid-4 .caption-backdrop{
    position:absolute;
    top:0;
    bottom:0;
    left:-40%;
    width:40%;
    background-color:#41515e
}
.insta-overlay:hover,.likes:hover + .insta-overlay{
    background-color:rgba(0,0,0,0.4)
}
.brands-heading-wrapper span{
    font-size:18px
}
.thumbs-outer-wrapper{
    padding:30px 0 0
}
.wrapper-thumbnail{
    margin-bottom:90px
}
.footer-heading{
    font-weight:800;
    font-size:45px
}
.footer-bottom{
    background-color:#374550;
    color:#fff;
    padding-top:15px;
    padding-bottom:15px
}
.footer-bottom .row{
    display:flex;
    align-items:center
}
.footer-wrapper input.form-control{
    border:none;
    border-bottom:1px solid #fff;
    background-color:transparent;
    box-shadow:none;
    width:50%;
    padding-left:0;
    font-size:18px;
    height:45px;
    margin-right:15px;
    color:#fff
}
.btn-lg{
    height:45px
}
.footer-subscribe-wrapper{
    display:inline-block
}
.terms-wrapper{
    opacity:0.6;
    font-size:11px
}
.terms_box{
    margin-top:-1px!important
}
.footer-mid{
    padding-top:45px;
    padding-bottom:15px
}
.footer-bottom .list-inline{
    margin-bottom:0
}
.footer-mid .input-group{
    width:100%
}
.footer-wrapper .list-social i{
    color:#fff;
    font-size:36px
}
.footer-business-details p{
    margin-bottom:5px
}
@media only screen and (max-width:992px){
    .advert-grid-1 .caption-backdrop,.advert-grid-3 .caption-backdrop{
        right:0;
        left:unset;
        top:0;
        bottom:0;
        height:100%;
        width:40%
    }
    .advert-grid-2 .caption-backdrop,.advert-grid-4 .caption-backdrop{
        top:0;
        bottom:0;
        right:unset;
        left:0;
        width:40%;
        height:100%
    }
    .home-text-wrapper h1{
        font-size:34px
    }
    .home-text-wrapper p{
        font-size:16px
    }
    .footer-wrapper{
        text-align:left
    }
    .caption-backdrop p{
        font-size:16px
    }
    .brands-heading-wrapper span,.social-heading span{
        font-size:16px
    }
    .product-name{
        font-size:16px
    }
}
@media only screen and (max-width:767px){
    .footer-bottom .row{
        display:block
    }
    .footer-heading{
        font-size:34px
    }
    .footer-wrapper input.form-control{
        font-size:16px
    }
    .footer-bottom .list-inline{
        margin-bottom:15px
    }
    .home-carousel-text-wrapper{
        border-left:0;
        padding-left:0
    }
    .advert-grid-1 .caption-backdrop,.advert-grid-3 .caption-backdrop,.advert-grid-2 .caption-backdrop,.advert-grid-4 .caption-backdrop{
        right:0;
        left:0;
        top:unset;
        bottom:0;
        height:auto;
        width:100%
    }
    .advert-grid-wrapper{
        height:350px
    }
}
.content-page-wrapper{
    background-size:cover;
    background:fixed center center;
    padding-bottom:30px;
    min-height:unset
}
.content-type-page-title{
    font-size:65px;
    font-weight:700;
    text-transform:uppercase;
    display:inline-block;
    overflow:visible;
    margin-bottom:45px;
    background-color:#fff;
    border-left:15px solid #d8ab64;
    padding:20px 60px 20px 45px;
    line-height:0.9
}
.content-type-content-wrapper{
    padding:50px
}
@media only screen and (max-width:767px){
    .content-type-page-title{
        font-size:34px;
        margin-bottom:15px;
        padding-right:20px;
        border-left:5px solid #d8ab64;
        padding-left:15px
    }
    .content-type-content-wrapper{
        font-size:16px;
        padding:20px
    }
}
.date-posted{
    margin-top:-13px
}
.date-posted .date{
    font-size:55px;
    font-weight:700;
    display:block
}
.date-posted .month{
    font-size:35px;
    text-transform:uppercase;
    margin-top:-18px;
    display:block
}
.blog-title{
    font-size:50px;
    text-transform:uppercase;
    font-weight:700;
    line-height:0.9
}
.blog-short-desc{
    font-size:18px;
    line-height:1.3
}
.content-thumb-wrapper{
    padding-top:15px
}
.blog-read-more{
    font-weight:600
}
@media only screen and (max-width:767px){
    .blog-title{
        font-size:28px;
        border-left:5px solid #6d9cb0;
        padding-left:10px
    }
    .blog-short-desc{
        font-size:16px;
        line-height:1.3;
        padding-top:5px;
        padding-bottom:10px
    }
}
#_cpy_info_msgs + .btn-stack button{
    margin-bottom:15px
}
label{
    font-weight:normal
}
ul.pager{
    margin-bottom:30px
}
.btn-success:active:hover,.btn-success.active:hover,.open > .dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open > .dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open > .dropdown-toggle.btn-success.focus{
    background-color:#3f8d8d;
    border-color:#37a0a0
}
.social-wrapper{
    margin-bottom:15px
}